services:
  ros2-jazzy:
    image: tiryoh/ros2-desktop-vnc:jazzy
    ports:
      - "6080:80"
    environment:
      - ROS_DOMAIN_ID=1
      - DISPLAY=:1
      - LIBGL_ALWAYS_SOFTWARE=1
      - QT_X11_NO_MITSHM=1
    command: sh -c "xhost +local:root; /startup.sh" 
    volumes:
      - .:/home/ubuntu/workshop_ws
    ipc: host 
    shm_size: '512mb'
    privileged: true